# TensorFlow Recommenders Addons Codeowners

# Submodule Owners
# These will not always trigger a GitHub review because submodule owners do not
# always have write access. However, a bot will notify them of the needed review.

/tensorflow_recommenders_addons/dynamic_embedding/**/* @rhdong
