*~
*.pyc
dist/
build/
.idea/
.vscode/
tensorflow_recommenders_addons.egg-info/

.DS_Store

artifacts/# File patterns to ignore; see `git help ignore` for more information.
# Lines that start with '#' are comments.

*.whl
bazel-bin
bazel-out
bazel-recommenders-addons
bazel-testlogs
/tensorflow_recommenders_addons/dynamic_embedding/core/*.so

bazel-genfiles
/pip-wheel-metadata/

.bazelrc

