name: tfra-release

on:
  release:
    types: [published]
    tags:
      - v*
  push:
    branches:
      - master
      - r*
  pull_request:
    branches:
      - master
      - r*

env:
  MIN_PY_VERSION: '3.6'
  MAX_PY_VERSION: '3.8'
  USE_BAZEL_VERSION: "3.1.0"

jobs:
  test-with-bazel:
    name: Test with bazel
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ env.MIN_PY_VERSION }}
      - name: Build wheels
        run: |
          pip install --default-timeout=1000 -r tools/install_deps/pytest.txt -r tools/install_deps/tensorflow-cpu.txt -r requirements.txt
          sudo apt install -y redis > /dev/null 2> /dev/null
          bash tools/install_deps/install_bazelisk.sh ./
          python configure.py
          bazel test -c opt -k --test_timeout 300,450,1200,3600 --test_output=errors //tensorflow_recommenders_addons/...
  release-wheel:
    name: Build release wheels
    runs-on: ${{ matrix.os }}
    # runs-on: self-hosted
    strategy:
      matrix:
        # TODO: add back 'windows-latest' when it can be compiled.
        os: ['macos-latest', 'ubuntu-18.04']
        py-version: ['3.6', '3.7', '3.8']
        tf-version: ['1.15.2', '2.4.1']
        tf-need-cuda: ['1', '0']
        tf-cuda-version: ['10.0', '11.0']
        tf-cudnn-version: ['7.6', '8.0']
        exclude:
          excludes cuda on macOS
          - os: 'macos-latest'
            tf-need-cuda: '1'
          # excludes TF1.15.2 on py38
          - py-version: '3.8'
            tf-version: '1.15.2'
          # excludes TF1.15.2 with cuda 11.0
          - os: 'ubuntu-18.04'
            tf-version: '1.15.2'
            tf-cuda-version: '11.0'
          # excludes TF2.4.1 with cuda 10.0
          - tf-version: '2.4.1'
            tf-cuda-version: '10.0'
          # excludes cudnn 8 with cuda 10.0
          - tf-cuda-version: '11.0'
            tf-cudnn-version: '7.6'
          # excludes cudnn 7 with cuda 11.0
          - tf-cuda-version: '10.0'
            tf-cudnn-version: '8.0'
          # excludes some unnecessary step on no cuda
          - tf-need-cuda: '0'
            tf-cuda-version: '10.0'
          - tf-need-cuda: '0'
            tf-cudnn-version: '7.6'
      fail-fast: false
    steps:
      - uses: actions/github-script@0.3.0
        id: author-date
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const commit_details = await github.git.getCommit({owner: context.repo.owner, repo: context.repo.repo, commit_sha: context.sha});
            return commit_details.data.author.date
      - if: github.event_name == 'push'
        shell: bash
        run: echo "NIGHTLY_FLAG=--nightly" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.py-version }}
      - name: Setup Bazel
        # Ubuntu bazel is run inside of the docker image
        if: matrix.os != 'ubuntu-18.04'
        run: bash tools/install_deps/install_bazelisk.sh ./
      - name: Build wheels
        env:
          OS: ${{ runner.os }}
          PY_VERSION: ${{ matrix.py-version }}
          TF_VERSION: ${{ matrix.tf-version }}
          TF_NEED_CUDA: ${{ matrix.tf-need-cuda }}
          TF_CUDA_VERSION: ${{ matrix.tf-cuda-version }}
          TF_CUDNN_VERSION: ${{ matrix.tf-cudnn-version }}
          NIGHTLY_TIME: ${{ steps.author-date.outputs.result }}
        shell: bash
        run: bash .github/workflows/make_wheel_${OS}.sh
      - uses: haya14busa/action-cond@v1
        id: device
        with:
          cond: ${{ matrix.tf-need-cuda == '1' }}
          if_true: "gpu"
          if_false: "cpu"
      - uses: actions/upload-artifact@v1
        with:
          name: ${{ runner.os }}-${{ matrix.py-version }}-tf${{ matrix.tf-version }}-${{ steps.device.outputs.value }}-wheel
          path: wheelhouse
  upload-wheels:
    name: Publish wheels to PyPi
    needs: [release-wheel, test-with-bazel]
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        # TODO: add back 'Windows' when it can be compiled.
        os: ['macOS', 'Linux']
        py-version: ['3.6', '3.7', '3.8']
        tf-version: ['2.4.1']
        tf-need-cuda: ['1', '0']
        exclude:
          # excludes cuda on macOS
          - os: 'macOS'
            tf-need-cuda: '1'
      fail-fast: false
    if: (github.event_name == 'push' && github.ref == 'refs/heads/master') || github.event_name == 'release'
    steps:
      - uses: haya14busa/action-cond@v1
        id: device
        with:
          cond: ${{ matrix.tf-need-cuda == '1' }}
          if_true: "gpu"
          if_false: "cpu"
      - uses: actions/download-artifact@v1
        with:
          name: ${{ matrix.os }}-${{ matrix.py-version }}-tf${{ matrix.tf-version }}-${{ steps.device.outputs.value }}-wheel
          path: ./dist
      - run: |
          set -e -x
          ls -la dist/
          sha256sum dist/*.whl
      - uses: pypa/gh-action-pypi-publish@v1.1.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
  upload-dev-container:
    name: Upload dev container to DockerHub
    needs: [release-wheel, test-with-bazel]
    runs-on: ubuntu-18.04
    if: (github.event_name == 'push' && github.ref == 'refs/heads/master')
    steps:
      - uses: actions/checkout@v2
      - run: |
          set -e -x
          echo ${{ secrets.DOCKER_PW }} | docker login --username ${{ secrets.DOCKER_USER }} --password-stdin
          bash .github/workflows/github_build_dev_container.sh
          docker push tfra/dev_container:latest-cpu